 @charset "utf-8";

 .my_center i{
    width: 36px;
    height: 36px;
    display: inline-block;
    background: url(../img/mycenter_head.png) no-repeat;
    vertical-align: middle;
    margin-left: 6px;
 }
 .top_bg{
    width: 100%;
    background: #c94e45;
    height: 232px;
    overflow: hidden;
 }
 .top_bg .title{
    color: #fff;
    width: 1200px;
    height: 232px;
    margin: 0 auto;
    background: url(../img/mycenter_topbg.jpg) no-repeat;
    padding-top: 40px;
 }
 .sayhi{
    margin-bottom: 12px;
    font-size: 20px;
 }
 .title h1{
    font-size: 40px;
 }
 .center_wrapper{
    background: #fff;
    width: 1200px;
    margin: 0 auto;
    border-radius: 6px;
    margin-top: -50px;
    /*border:1px solid red;*/
    padding: 36px 20px 32px;
 }
